<div class="row">
	<div class="col s12">
		<h3>{{model.name}}</h3>
		{{#if model.description}}
			<p class="flow-text">{{model.description}}</p>
		{{/if}}
		<hr>
	</div>
</div>
<div class="row">
	<div class="col s6">
		<h5>Ingredients</h5>
		<ul class="collection">
		{{#each ingredient in model.combined}}
			<li class="collection-item">
				{{#materialize-badge class="blue lighten-4"}}
					{{ingredient.amount}} {{ingredient.measurement}}
				{{/materialize-badge}}
				{{ingredient.name}}
			</li>
		{{/each}}
		</ul>
	</div>
	<div class="col s6">
		<h5>Steps</h5>
		<ol class="collection">
		{{#each step in model.steps}}
			<li class="collection-item">{{step}}</li>
		{{/each}}
		</ol>
	</div>
</div>
<div class="row">
	<div class="col s6">
		{{liquid-content data=model.combined}}
	</div>
	<div class="col s6">
		<img src={{model.equipment.image}} width=300>
	</div>
</div>
	