<ol class="breadcrumb">
  <li>{{#link-to 'application'}}<i class="fa fa-glass"></i>{{/link-to}}</li>
  <li>{{#link-to 'beverage'}}beverages{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>
<div class="row">
	<div class="col-md-6">
		<h2>{{model.name}}<br></h2>
		{{#each model.combined as ingredient}}
			{{ingredient.amount}}
		{{/each}}
		{{#each ingredient in model.combined}}
			<span class="badge">{{ingredient.amount}} {{ingredient.measurement}}</span> {{ingredient.name}}<br>
		{{/each}}
	</div>
	<div class="col-md-6">
		<h3>Steps</h3>
		<ol>
		{{#each step in model.steps}}
			<li>{{step}}</li>
		{{/each}}
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<hr>
		<h3>Liquid Contents</h3>
		{{liquid-content data=model.combined}}
	</div>
	<div class="col-md-6">
		<h3>Glassware</h3>
		<img src={{model.equipment.image}} width=300>
	</div>
</div>
	