{{select-2 content=model.ingredients value=selectedIngredients multiple=true optionValuePath='id' placeholder="Choose ingredients"}}

<hr>

{{#each beverage in availableBeverages}}
	<span class="badge">{{beverage.rank}} of {{beverage.ingredientsArray.length}}</span> {{#link-to 'beverage.view' beverage.id}}{{beverage.name}}{{/link-to}}<br>
{{else}}
	<p>Nothing to display</p>
{{/each}}